<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav>
        <ul class="nav-links">
            <li>{{{navLink "/shop" "Shop"}}}</li>
            <li>{{{navLink "/about" "About"}}}</li>
            <li>{{{navLink "/items" "Items"}}}</li>
            <li>{{{navLink "/categories" "Categories"}}}</li>
            <li>{{{navLink "/items/add" "Add Item"}}}</li>
        </ul>
    </nav>

    <div class="container text-center">
        {{{body}}}
    </div>

    <footer>
        <p>&copy; 2025 WEB322 - Novel Myint Moh</p>
    </footer>

</body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <nav>
        <ul class="nav-links">
            <li>{{{navLink "/shop" "Shop"}}}</li>
            <li>{{{navLink "/about" "About"}}}</li>
            <li>{{{navLink "/items" "Items"}}}</li>
            <li>{{{navLink "/categories" "Categories"}}}</li>
            <li>{{{navLink "/items/add" "Add Item"}}}</li>
        </ul>
    </nav>

    <div class="container text-center">
        {{{body}}}
    </div>

    <footer>
        <p>&copy; 2025 WEB322 - Novel Myint Moh</p>
    </footer>

</body>
</html>
>>>>>>> 6e590bf57ced765152fd5f87548a28b8df625741
